/.vscode

# Node
node_modules
package-lock.json

# R project stuff
.Rproj.User
.Rhistory
.Rhistoryt
.Rdata
.Ruserdata

# Quarto stuff
/.quarto/
/_site/
/_freeze/
/_output/
/_*.local

# Mac OS 
.DS_Store
Icon
._*
Thumbs.db

README.html

# knitr and caching stuff
**/*_files/*
**/*_cache/*

# python
/.ipynb_checkpoints/
/env/
/_env/
/.venv/
/.condaenv/

/.luarc.json

# draw.io
*.bkp
