@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|JetBrains+Mono&display=swap");
//@import "_carbon_colors";

$black: #000000 !default;
$white: #ffffff !default;

$blue-60: #0f62fe !default;
$cool-gray-60: #697077 !default;
$cyan-40: #33b1ff !default;
$gray-60: #6f6f6f !default;
$green-60: #198038 !default;
$magenta-60: #d02670 !default;
$magenta-70: #9f1853 !default;
$orange-40: #ff832b !default;
$purple-60: #8a3ffc !default;
$red-60: #da1e28 !default;
$teal-40: #08bdba !default;
$warm-gray-60: #726e6e !default;
$yellow-30: #f1c21b !default;

$gray-10: #f4f4f4 !default;
$gray-70: #525252 !default;
$gray-90: #262626 !default;

/*-- scss:defaults --*/

// colors
$blue: $blue-60 !default;
$cool-gray: $cool-gray-60 !default;
$cyan: $cyan-40 !default;
$gray: $gray-60 !default;
$green: $green-60 !default;
$magenta: $magenta-70 !default;
$orange: $orange-40 !default;
$purple: $purple-60 !default;
$red: $red-60 !default;
$teal: $teal-40 !default;
$warm-gray: $warm-gray-60 !default;
$yellow: $yellow-30 !default;

$primary: $blue !default;
$secondary: $white !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-10 !default;
$dark: $gray-90 !default;

// Fonts and link colors

$font-prefix: "./assets/fonts/IBM-Plex/";

$font-family-sans-serif: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: "IBM Plex Sans", "Georgia", Times, serif;
// $font-family-monospace: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
//  "Bitstream Vera Sans Mono", Courier, monospace;
$headings-font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif !default;

//
// $font-family-sans-serif: "IBM Plex Sans", sans-serif !default;
// $font-family-serif: "IBM Plex Sans", serif !default;
$font-family-monospace: "JetBrains Mono", monospace;
//

$presentation-font-size-root: 28px;
$presentation-line-height: 1.2em;
// $presentation-heading-font-weight: 400;

$font-size-base: 1.25rem !default;
$headings-font-weight: 700 !default;

$h1-font-size: $font-size-base * 2.45;
$h2-font-size: $font-size-base * 1.85;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

$presentation-heading-color: $blue;
$body-bg: $light;
// $body-bg: $white;
$link-color: $magenta;
// $link-color: $red;
$link-hover-color: $yellow;

/*-- scss:rules --*/

h1.title {
  text-align: left;
  // margin-left: 15px;
}

.reveal h3 {
  color: $magenta;
}

.reveal .subtitle {
  text-align: left;
  // margin-left: 15px;
  font-size: $h2-font-size;
}

.reveal .quarto-title-author {
  text-align: left;
  font-size: $h2-font-size;
}

.reveal .footer {
  // border-top: 2px solid $blue;
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.reveal blockquote {
  color: $red !important;
}

// .reveal .slide-logo {
//   width: 120px !important;
//   height: 46px !important;
//   max-width: unset !important;
//   max-height: unset !important;
// }

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 8% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number,
.reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}

.reveal .progress {
  color: $blue;
}

.reveal .highlight {
  background-color: $yellow;
}

.reveal .smaller {
  font-size: 70%;
}

.reveal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.reveal table {
  font-size: 70%;
}

.reveal .noborder {
  border: none;
}

.fragment.hide {
  transition: all 0s !important;
  # display: none !important;
}

.center {
  display: block;
  width: 100%;  /* This ensures the child div spans the whole width of the parent */
  text-align: center;  /* This centers the text within the child div */
}

.text-box{
  display: block;
  border: 2px solid #000;
  padding: 10px;
}

//
// .center,
// .center p,
// .columns .column .center p{
//   text-align: center;  /* This centers the text within the child div */
// }
